# django requirement
asgiref==3.2.3
pytz==2019.3
sqlparse==0.3.0
django==3.0.12
# django-admin-interface requirement
django-admin-interface==0.12.1
django-colorfield==0.2.1
django-flat-responsive==2.0
django-flat-theme==1.1.4
#six==1.14.0
# adminlte-ui
#django-treebeard==4.3
#django-adminlte-ui==1.5.0
# mysqlclient
mysqlclient==1.4.6
